.elementor-3747 .elementor-element.elementor-element-5c7f4321 {
    overflow: hidden;
}

.elementor-3747 .elementor-element.elementor-element-1793fb71>.elementor-element-populated {
    margin: 0px 30px 0px 0px;
    --e-column-margin-right: 30px;
    --e-column-margin-left: 0px;
}

.elementor-3747 .elementor-element.elementor-element-4896a066 img {
    object-position: 50% 0%;
}

.elementor-3747 .elementor-element.elementor-element-4896a066 {
    position: absolute;
}

.elementor-3747 .elementor-element.elementor-element-4896a066 .img-box-parallax {
    height: 100%;
}

.elementor-3747 .elementor-element.elementor-element-5cc7622d>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 30px;
}

.elementor-3747 .elementor-element.elementor-element-5cc7622d>.elementor-element-populated {
    margin: 50px 0px 50px 30px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 30px;
}

.elementor-3747 .elementor-element.elementor-element-14070888 .dsn-heading-title {
    text-transform: uppercase;
}

.elementor-3747 .elementor-element.elementor-element-14070888>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-3747 .elementor-element.elementor-element-6215cc1>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3747 .elementor-element.elementor-element-2c77cfc>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 30px;
}

.elementor-3747 .elementor-element.elementor-element-2c77cfc>.elementor-element-populated {
    margin: 0px 15px 0px 0px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
}

.elementor-3747 .elementor-element.elementor-element-786d890 .dsn-heading-title {
    text-transform: uppercase;
}

.elementor-3747 .elementor-element.elementor-element-786d890>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-3747 .elementor-element.elementor-element-25177cf>.elementor-element-populated {
    margin: 0px 0px 0px 30px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 30px;
}

.elementor-3747 .elementor-element.elementor-element-f4f5be6 .dsn-grid-layout {
    --dsn-width-item: 1;
    --dsn-col-item: 30px;
    --dsn-row-item: 30px;
}

.elementor-3747 .elementor-element.elementor-element-f4f5be6 .service-item .service-item-inner {
    align-items: start;
}

.elementor-3747 .elementor-element.elementor-element-f4f5be6 .service-item-inner {
    padding: 40px 30px 40px 30px;
}

.elementor-3747 .elementor-element.elementor-element-f4f5be6 .service-item {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-3747 .elementor-element.elementor-element-f4f5be6 .dsn-service .dsn-icon:not(.dsn-bg-before):not(.dsn-bg-before) {
    --dsn-icon-size: 80px;
}

.elementor-3747 .elementor-element.elementor-element-a9c4df9 .section-title {
    justify-content: center;
}

.elementor-3747 .elementor-element.elementor-element-08aa651 .dsn-grid-layout {
    --dsn-width-item: 3;
    --dsn-col-item: 30px;
    --dsn-row-item: 30px;
}

.elementor-3747 .elementor-element.elementor-element-08aa651 .team-item-inner .box-img {
    height: 450px;
    max-height: 450px;
}

.elementor-3747 .elementor-element.elementor-element-08aa651 .text-name {
    text-transform: uppercase;
}

.elementor-3747 .elementor-element.elementor-element-08aa651 .text-position {
    text-transform: uppercase;
}

.elementor-3747 .elementor-element.elementor-element-def808b>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3747 .elementor-element.elementor-element-006b1ba .section-title {
    justify-content: flex-start;
}

.elementor-3747 .elementor-element.elementor-element-9530952 .dsn-heading-title {
    max-width: 350px;
}

.elementor-3747 .elementor-element.elementor-element-00f20d3>.elementor-element-populated {
    margin: 0px 0px 0px 60px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 60px;
}

.elementor-3747 .elementor-element.elementor-element-2b68d7c .dsn-grid-layout {
    --dsn-width-item: 3;
    --dsn-col-item: 0px;
    --dsn-row-item: 0px;
}

body.elementor-page-3747 #dsn_header #hero_image .transform-3d {
    object-position: 50% 50%;
}

body.elementor-page-3747 #hero_title .title {
    font-size: 48px;
    text-transform: uppercase;
    line-height: 70px;
}

body.elementor-page-3747 #dsn_header #hero_content {
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

@media(max-width:1024px) {
    .elementor-3747 .elementor-element.elementor-element-2c77cfc>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-3747 .elementor-element.elementor-element-25177cf>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-3747 .elementor-element.elementor-element-08aa651 .dsn-grid-layout {
        --dsn-width-item: 2;
    }

    .elementor-3747 .elementor-element.elementor-element-006b1ba .section-title {
        justify-content: center;
    }

    .elementor-3747 .elementor-element.elementor-element-00f20d3>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width:767px) {
    .elementor-3747 .elementor-element.elementor-element-1793fb71>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-3747 .elementor-element.elementor-element-4896a066 {
        position: relative;
    }

    .elementor-3747 .elementor-element.elementor-element-4896a066 .img-box-parallax {
        height: 80vh;
    }

    .elementor-3747 .elementor-element.elementor-element-5cc7622d>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-3747 .elementor-element.elementor-element-2b68d7c .dsn-grid-layout {
        --dsn-width-item: 2;
        --dsn-col-item: 30px;
        --dsn-row-item: 30px;
    }

    body.elementor-page-3747 #hero_title .title {
        font-size: 45px;
        line-height: 55px;
    }
}

@media(min-width:768px) {
    .elementor-3747 .elementor-element.elementor-element-1793fb71 {
        width: 50%;
    }

    .elementor-3747 .elementor-element.elementor-element-5cc7622d {
        width: 50%;
    }

    .elementor-3747 .elementor-element.elementor-element-5542596 {
        width: 33%;
    }

    .elementor-3747 .elementor-element.elementor-element-00f20d3 {
        width: 67%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-3747 .elementor-element.elementor-element-2c77cfc {
        width: 100%;
    }

    .elementor-3747 .elementor-element.elementor-element-25177cf {
        width: 100%;
    }

    .elementor-3747 .elementor-element.elementor-element-5542596 {
        width: 100%;
    }

    .elementor-3747 .elementor-element.elementor-element-00f20d3 {
        width: 100%;
    }
}


ul.about li a{
    margin-right: 10px;
}

ul.about{
    margin-top: 25px;
}