.elementor-5404 .elementor-element.elementor-element-5a91146>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-5404 .elementor-element.elementor-element-f87eb2e>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-5404 .elementor-element.elementor-element-2b6faeb {
    justify-content: center;
    display: flex;
}

.elementor-5404 .elementor-element.elementor-element-29eabb7 {
    padding: 60px 0px 30px 0px;
}

.elementor-5404 .elementor-element.elementor-element-0870b41>.elementor-element-populated {
    margin: 0px 30px 0px 0px;
    --e-column-margin-right: 30px;
    --e-column-margin-left: 0px;
    align-content: center;
}

.elementor-5404 .elementor-element.elementor-element-32f9045 img {
    width: 90px;
    max-width: 90px;
}

.elementor-5404 .elementor-element.elementor-element-6dd3297 .dsn-socials .dsn-icon {
    --dsn-icon-size: 14px;
}

.elementor-5404 .elementor-element.elementor-element-38dc768>div {
    grid-template-columns: 1fr repeat(2, 1.1fr);
}

.elementor-5404 .elementor-element.elementor-element-38dc768>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-5404 .elementor-element.elementor-element-f96512b>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 30px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 30px 0px 30px 0px;
}

.elementor-5404 .elementor-element.elementor-element-f96512b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

@media(min-width:768px) {
    .elementor-5404 .elementor-element.elementor-element-0870b41 {
        width: 30%;
    }

    .elementor-5404 .elementor-element.elementor-element-38dc768 {
        width: 70%;
    }
}

@media(max-width:767px) {
    .elementor-5404 .elementor-element.elementor-element-2b6faeb {
        justify-content: flex-start;
        display: flex;
    }

    .elementor-5404 .elementor-element.elementor-element-0870b41 {
        width: 100%;
    }

    .elementor-5404 .elementor-element.elementor-element-0870b41>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-5404 .elementor-element.elementor-element-38dc768>div {
        grid-row-gap: 30px;
    }

    .elementor-5404 .elementor-element.elementor-element-38dc768 {
        width: 100%;
    }
}