/* index  */

.elementor-10485 .elementor-element.elementor-element-73b9a4f>.elementor-container {
    min-height: 100vh;
}

.elementor-10485 .elementor-element.elementor-element-73b9a4f {
    overflow: hidden;
}

.elementor-bc-flex-widget .elementor-10485 .elementor-element.elementor-element-5ff465f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-10485 .elementor-element.elementor-element-5ff465f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-10485 .elementor-element.elementor-element-5ff465f>.elementor-element-populated {
    margin: 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}


body:not(.rtl) .elementor-10485 .elementor-element.elementor-element-c5ffc61 {
    left: 0px;
}

body.rtl .elementor-10485 .elementor-element.elementor-element-c5ffc61 {
    right: 0px;
}

.elementor-10485 .elementor-element.elementor-element-c5ffc61 {
    top: 0px;
    z-index: 0;
}

.elementor-10485 .elementor-element.elementor-element-1f6152c img {
    object-position: 50% 50%;
}

.elementor-10485 .elementor-element.elementor-element-1f6152c {
    position: absolute;
}

.elementor-10485 .elementor-element.elementor-element-1f6152c .img-box-parallax {
    height: 100%;
}

body:not(.rtl) .elementor-10485 .elementor-element.elementor-element-1f6152c {
    left: 0px;
}

body.rtl .elementor-10485 .elementor-element.elementor-element-1f6152c {
    right: 0px;
}

.elementor-10485 .elementor-element.elementor-element-1f6152c {
    top: 0px;
    z-index: 0;
}

.elementor-10485 .elementor-element.elementor-element-ea36c75>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 30px;
}

.elementor-10485 .elementor-element.elementor-element-aec7d26 .dsn-heading-title {
    font-size: 10vw;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.elementor-10485 .elementor-element.elementor-element-39163ef .dsn-heading-title {
    max-width: 470px;
}

.elementor-10485 .elementor-element.elementor-element-73efee9 {
    overflow: hidden;
}

.elementor-10485 .elementor-element.elementor-element-482de9f>.elementor-element-populated {
    margin: 60px 60px 60px 0px;
    --e-column-margin-right: 60px;
    --e-column-margin-left: 0px;
}

.elementor-10485 .elementor-element.elementor-element-5be68d8 .dsn-heading-title {
    text-transform: uppercase;
}

.elementor-10485 .elementor-element.elementor-element-1023db5 .dsn-heading-title {
    text-transform: uppercase;
}

.elementor-10485 .elementor-element.elementor-element-f330016 .dsn-heading-title {
    max-width: 570px;
}

.elementor-10485 .elementor-element.elementor-element-17955a7>.elementor-widget-container {
    margin: 0px 0px -15px 0px;
}

.elementor-10485 .elementor-element.elementor-element-ea928c5>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-10485 .elementor-element.elementor-element-56ebdcb img {
    object-position: 50% 50%;
}

.elementor-10485 .elementor-element.elementor-element-56ebdcb {
    position: absolute;
}

.elementor-10485 .elementor-element.elementor-element-56ebdcb .img-box-parallax {
    width: 100%;
    height: 100%;
}

.elementor-10485 .elementor-element.elementor-element-56ebdcb .img-box-parallax {
    border-radius: 7px 0px 0px 7px;
}

.elementor-10485 .elementor-element.elementor-element-56ebdcb>.elementor-widget-container {
    padding: 0px 0px 30px 60px;
}

.elementor-10485 .elementor-element.elementor-element-bd1b48e {
    text-align: left;
    top: 30px;
}

.elementor-10485 .elementor-element.elementor-element-bd1b48e img {
    width: 190px;
    height: 120px;
    object-fit: cover;
    border-radius: 7px 7px 7px 7px;
}

body:not(.rtl) .elementor-10485 .elementor-element.elementor-element-bd1b48e {
    left: 2px;
}

body.rtl .elementor-10485 .elementor-element.elementor-element-bd1b48e {
    right: 2px;
}

.elementor-10485 .elementor-element.elementor-element-0564e99 {
    text-align: left;
    bottom: 0px;
}

.elementor-10485 .elementor-element.elementor-element-0564e99 img {
    width: 49%;
    height: 190px;
    object-fit: cover;
    border-radius: 7px 7px 7px 7px;
}

body:not(.rtl) .elementor-10485 .elementor-element.elementor-element-0564e99 {
    left: 20px;
}

body.rtl .elementor-10485 .elementor-element.elementor-element-0564e99 {
    right: 20px;
}

.elementor-10485 .elementor-element.elementor-element-9c3f1da .dsn-heading-title {
    text-transform: uppercase;
}

body:not(.rtl) .elementor-10485 .elementor-element.elementor-element-9c3f1da {
    left: 0px;
}

body.rtl .elementor-10485 .elementor-element.elementor-element-9c3f1da {
    right: 0px;
}

.elementor-10485 .elementor-element.elementor-element-9c3f1da {
    top: 0px;
    z-index: 0;
}

.elementor-10485 .elementor-element.elementor-element-5744668 .section-title {
    justify-content: center;
}

.elementor-10485 .elementor-element.elementor-element-c8263f7 .dsn-grid-layout {
    --dsn-width-item: 3;
    --dsn-col-item: 30px;
    --dsn-row-item: 50px;
}

.elementor-10485 .elementor-element.elementor-element-c8263f7 .service-item {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-10485 .elementor-element.elementor-element-c8263f7 .dsn-service .dsn-icon:not(.dsn-bg-before):not(.dsn-bg-before) {
    --dsn-icon-size: 80px;
}

.elementor-10485 .elementor-element.elementor-element-810e54d img {
    object-position: 50% 0%;
}

.elementor-10485 .elementor-element.elementor-element-810e54d {
    position: absolute;
}

.elementor-10485 .elementor-element.elementor-element-810e54d .img-box-parallax {
    height: 100%;
}

.elementor-10485 .elementor-element.elementor-element-910e525>.elementor-element-populated {
    margin: 0px 0px 0px -164px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: -164px;
    padding: 80px 0px 80px 0px;
}

.elementor-10485 .elementor-element.elementor-element-a847b21 .dsn-bg-mask {
    --width-mask: 100%;
    --width-calc-mask: 50px;
    --height-mask: 100%;
    --left-mask: -100px;
}

body:not(.rtl) .elementor-10485 .elementor-element.elementor-element-a847b21 {
    left: 0px;
}

body.rtl .elementor-10485 .elementor-element.elementor-element-a847b21 {
    right: 0px;
}

.elementor-10485 .elementor-element.elementor-element-a847b21 {
    top: 0px;
}

.elementor-10485 .elementor-element.elementor-element-bedeb93 .dsn-heading-title {
    text-transform: uppercase;
}

.elementor-10485 .elementor-element.elementor-element-bedeb93>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.elementor-10485 .elementor-element.elementor-element-0c4f11f .dsn-heading-title {
    max-width: 570px;
}

.elementor-10485 .elementor-element.elementor-element-eca231d .dsn-grid-layout {
    --dsn-width-item: 1;
    --dsn-col-item: 15px;
    --dsn-row-item: 10px;
}

.elementor-10485 .elementor-element.elementor-element-eca231d .list-item {
    padding: 8px 20px 8px 20px;
    border-radius: 7px 7px 7px 7px;
}

.elementor-10485 .elementor-element.elementor-element-eca231d .dsn-list .dsn-icon:not(.icon-link) {
    --dsn-icon-size: 13px;
}

.elementor-10485 .elementor-element.elementor-element-e691031>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-10485 .elementor-element.elementor-element-8286423 {
    overflow: hidden;
}

.elementor-10485 .elementor-element.elementor-element-ea3ceef .dsn-heading-title {
    text-transform: uppercase;
}

body:not(.rtl) .elementor-10485 .elementor-element.elementor-element-ea3ceef {
    left: 0px;
}

body.rtl .elementor-10485 .elementor-element.elementor-element-ea3ceef {
    right: 0px;
}

.elementor-10485 .elementor-element.elementor-element-ea3ceef {
    top: 0px;
    z-index: 0;
}

.elementor-10485 .elementor-element.elementor-element-b54867c .section-title {
    justify-content: center;
}

.elementor-10485 .elementor-element.elementor-element-61a1e83 .dsn-grid-layout {
    --dsn-width-item: 2.5;
    --dsn-col-item: 50px;
    --dsn-row-item: 0px;
}

.elementor-10485 .elementor-element.elementor-element-61a1e83 .start-section {
    max-width: calc(70% - var(--dsn-col-item));
    flex: 0 0 calc(70% - var(--dsn-col-item));
}

.elementor-10485 .elementor-element.elementor-element-61a1e83 .end-section {
    max-width: calc(80% - var(--dsn-col-item));
    flex: 0 0 calc(80% - var(--dsn-col-item));
}

.elementor-10485 .elementor-element.elementor-element-61a1e83 .box-image-link .box-image-bg {
    height: 100vh;
    max-height: 100vh;
}

.elementor-10485 .elementor-element.elementor-element-61a1e83 .entry-meta a {
    text-transform: uppercase;
}

.elementor-10485 .elementor-element.elementor-element-e55b3d4>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

body:not(.rtl) .elementor-10485 .elementor-element.elementor-element-63dd085 {
    left: 0px;
}

body.rtl .elementor-10485 .elementor-element.elementor-element-63dd085 {
    right: 0px;
}

.elementor-10485 .elementor-element.elementor-element-63dd085 {
    top: 0px;
}

.elementor-10485 .elementor-element.elementor-element-a43711e>.elementor-container {
    min-height: 80vh;
}

.elementor-10485 .elementor-element.elementor-element-a43711e>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-10485 .elementor-element.elementor-element-6cdaec4>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-10485 .elementor-element.elementor-element-b38fe5c img {
    object-position: 50% 50%;
}

.elementor-10485 .elementor-element.elementor-element-b38fe5c {
    position: absolute;
}

.elementor-10485 .elementor-element.elementor-element-b38fe5c .img-box-parallax {
    height: 100%;
}

.elementor-10485 .elementor-element.elementor-element-6076387 {
    display: flex;
    padding-right: 100px;
    justify-content: flex-end;
}

.elementor-10485 .elementor-element.elementor-element-6076387 .dsn-btn {
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50% 50% 50% 50%;
}

.elementor-10485 .elementor-element.elementor-element-debd11e {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-10485 .elementor-element.elementor-element-debd11e:not(.elementor-motion-effects-element-type-background),
.elementor-10485 .elementor-element.elementor-element-debd11e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://dsngrid.com/blackdsn/wp-content/uploads/sites/11/2022/09/62a1f09ec862ce8047dd9ca4_Hero-Bg.png");
}

.elementor-10485 .elementor-element.elementor-element-debd11e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10485 .elementor-element.elementor-element-0a2f8b5>.elementor-element-populated {
    padding: 0px 120px 0px 0px;
}

.elementor-10485 .elementor-element.elementor-element-14f4658>.elementor-element-populated {
    padding: 0px 120px 0px 0px;
}

.elementor-10485 .elementor-element.elementor-element-63a715a .dsn-swiper-paginate {
    justify-content: space-between;
}

.elementor-10485 .elementor-element.elementor-element-63a715a .swiper-slide {
    padding: 50px 30px 50px 30px;
}

.elementor-10485 .elementor-element.elementor-element-d2602fc .dsn-heading-title {
    text-transform: uppercase;
}

body:not(.rtl) .elementor-10485 .elementor-element.elementor-element-d2602fc {
    left: 0px;
}

body.rtl .elementor-10485 .elementor-element.elementor-element-d2602fc {
    right: 0px;
}

.elementor-10485 .elementor-element.elementor-element-d2602fc {
    top: 0px;
    z-index: 0;
}

.elementor-10485 .elementor-element.elementor-element-8f77232 .section-title {
    justify-content: center;
}

.elementor-10485 .elementor-element.elementor-element-c746c24 .box-image-link .box-image-bg {
    height: 400px;
    max-height: 400px;
}

.elementor-10485 .elementor-element.elementor-element-c746c24 .dsn-swiper-paginate {
    justify-content: space-between;
}

.elementor-10485 .elementor-element.elementor-element-6f0ebd4:not(.elementor-motion-effects-element-type-background),
.elementor-10485 .elementor-element.elementor-element-6f0ebd4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://dsngrid.com/blackdsn/wp-content/uploads/sites/11/2022/09/62a1f09ec862ce8047dd9ca4_Hero-Bg.png");
}

.elementor-10485 .elementor-element.elementor-element-6f0ebd4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-10485 .elementor-element.elementor-element-6f0ebd4>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10485 .elementor-element.elementor-element-f6b1497 .dsn-heading-title {
    text-transform: uppercase;
}

body:not(.rtl) .elementor-10485 .elementor-element.elementor-element-f6b1497 {
    left: 0px;
}

body.rtl .elementor-10485 .elementor-element.elementor-element-f6b1497 {
    right: 0px;
}

.elementor-10485 .elementor-element.elementor-element-f6b1497 {
    top: 0px;
    z-index: 0;
}

.elementor-10485 .elementor-element.elementor-element-d351488 .section-title {
    justify-content: center;
}

.elementor-10485 .elementor-element.elementor-element-a4e6e3a .dsn-grid-layout {
    --dsn-width-item: 3;
    --dsn-col-item: 30px;
    --dsn-row-item: 30px;
}

.elementor-10485 .elementor-element.elementor-element-a4e6e3a .brand-item {
    border-radius: 7px 7px 7px 7px;
    border-style: solid;
    background-color: var(--theme-color);
    border-width: 1px 1px 1px 1px;
}

body.elementor-page-10485:not(.elementor-motion-effects-element-type-background),
body.elementor-page-10485>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://dsngrid.com/blackdsn/wp-content/uploads/sites/11/2022/09/62a1f09ec862ce8047dd9ca4_Hero-Bg.png");
}

@media(max-width:1024px) {
    .elementor-10485 .elementor-element.elementor-element-482de9f>.elementor-element-populated {
        margin: 0px 30px 0px 0px;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0px;
    }

    .elementor-10485 .elementor-element.elementor-element-ea928c5>.elementor-element-populated {
        margin: 0px 0px 0px 30px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 30px;
    }

    .elementor-10485 .elementor-element.elementor-element-56ebdcb .img-box-parallax {
        border-radius: 7px 7px 7px 7px;
    }

    .elementor-10485 .elementor-element.elementor-element-ee4887a {
        margin-top: 0px;
        margin-bottom: -80px;
    }

    .elementor-10485 .elementor-element.elementor-element-bd387a6>.elementor-element-populated {
        margin: 0px 0px -80px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10485 .elementor-element.elementor-element-810e54d {
        position: relative;
    }

    .elementor-10485 .elementor-element.elementor-element-810e54d .img-box-parallax {
        height: 70vh;
    }

    .elementor-10485 .elementor-element.elementor-element-910e525>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 50px 30px 50px 30px;
    }

    .elementor-10485 .elementor-element.elementor-element-61a1e83 .dsn-grid-layout {
        --dsn-width-item: 2;
        --dsn-col-item: 30px;
        --dsn-row-item: 30px;
    }

    .elementor-10485 .elementor-element.elementor-element-61a1e83 .box-image-link .box-image-bg {
        height: 70vh;
        max-height: 70vh;
    }

    .elementor-10485 .elementor-element.elementor-element-a43711e>.elementor-container {
        min-height: 70vh;
    }

    .elementor-10485 .elementor-element.elementor-element-0a2f8b5>.elementor-element-populated {
        padding: 0px 0px 30px 0px;
    }

    .elementor-10485 .elementor-element.elementor-element-14f4658>.elementor-element-populated {
        padding: 0px 0px 30px 0px;
    }

    .elementor-10485 .elementor-element.elementor-element-a4e6e3a .dsn-grid-layout {
        --dsn-width-item: 2;
    }
}

@media(max-width:767px) {
    .elementor-10485 .elementor-element.elementor-element-482de9f>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10485 .elementor-element.elementor-element-f330016 .dsn-heading-title {
        max-width: 100%;
    }

    .elementor-10485 .elementor-element.elementor-element-ea928c5>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10485 .elementor-element.elementor-element-56ebdcb {
        position: relative;
    }

    .elementor-10485 .elementor-element.elementor-element-56ebdcb .img-box-parallax {
        height: 50vh;
    }

    .elementor-10485 .elementor-element.elementor-element-56ebdcb>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-10485 .elementor-element.elementor-element-c8263f7 .dsn-grid-layout {
        --dsn-width-item: 2;
        --dsn-row-item: 30px;
    }

    .elementor-10485 .elementor-element.elementor-element-61a1e83 .box-image-link .box-image-bg {
        height: 50vh;
        max-height: 50vh;
    }

    .elementor-10485 .elementor-element.elementor-element-a43711e>.elementor-container {
        min-height: 50vh;
    }
}

@media(min-width:768px) {
    .elementor-10485 .elementor-element.elementor-element-482de9f {
        width: 40%;
    }

    .elementor-10485 .elementor-element.elementor-element-ea928c5 {
        width: 60%;
    }

    .elementor-10485 .elementor-element.elementor-element-bd387a6 {
        width: 70%;
    }

    .elementor-10485 .elementor-element.elementor-element-910e525 {
        width: 30%;
    }

    .elementor-10485 .elementor-element.elementor-element-14f4658 {
        width: 40%;
    }

    .elementor-10485 .elementor-element.elementor-element-850d87c {
        width: 60%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-10485 .elementor-element.elementor-element-482de9f {
        width: 50%;
    }

    .elementor-10485 .elementor-element.elementor-element-ea928c5 {
        width: 50%;
    }

    .elementor-10485 .elementor-element.elementor-element-bd387a6 {
        width: 100%;
    }

    .elementor-10485 .elementor-element.elementor-element-910e525 {
        width: 100%;
    }

    .elementor-10485 .elementor-element.elementor-element-0a2f8b5 {
        width: 100%;
    }

    .elementor-10485 .elementor-element.elementor-element-14f4658 {
        width: 100%;
    }

    .elementor-10485 .elementor-element.elementor-element-850d87c {
        width: 100%;
    }
}

@media(min-width:1025px) {

    body.elementor-page-10485:not(.elementor-motion-effects-element-type-background),
    body.elementor-page-10485>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}

/* About */

.elementor-3747 .elementor-element.elementor-element-5c7f4321 {
    overflow: hidden;
}

.elementor-3747 .elementor-element.elementor-element-1793fb71>.elementor-element-populated {
    margin: 0px 30px 0px 0px;
    --e-column-margin-right: 30px;
    --e-column-margin-left: 0px;
}

.elementor-3747 .elementor-element.elementor-element-4896a066 img {
    object-position: 50% 0%;
}

.elementor-3747 .elementor-element.elementor-element-4896a066 {
    position: absolute;
}

.elementor-3747 .elementor-element.elementor-element-4896a066 .img-box-parallax {
    height: 100%;
}

.elementor-3747 .elementor-element.elementor-element-5cc7622d>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 30px;
}

.elementor-3747 .elementor-element.elementor-element-5cc7622d>.elementor-element-populated {
    margin: 50px 0px 50px 30px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 30px;
}

.elementor-3747 .elementor-element.elementor-element-14070888 .dsn-heading-title {
    text-transform: uppercase;
}

.elementor-3747 .elementor-element.elementor-element-14070888>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-3747 .elementor-element.elementor-element-6215cc1>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3747 .elementor-element.elementor-element-2c77cfc>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 30px;
}

.elementor-3747 .elementor-element.elementor-element-2c77cfc>.elementor-element-populated {
    margin: 0px 15px 0px 0px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
}

.elementor-3747 .elementor-element.elementor-element-786d890 .dsn-heading-title {
    text-transform: uppercase;
}

.elementor-3747 .elementor-element.elementor-element-786d890>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-3747 .elementor-element.elementor-element-25177cf>.elementor-element-populated {
    margin: 0px 0px 0px 30px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 30px;
}

.elementor-3747 .elementor-element.elementor-element-f4f5be6 .dsn-grid-layout {
    --dsn-width-item: 1;
    --dsn-col-item: 30px;
    --dsn-row-item: 30px;
}

.elementor-3747 .elementor-element.elementor-element-f4f5be6 .service-item .service-item-inner {
    align-items: start;
}

.elementor-3747 .elementor-element.elementor-element-f4f5be6 .service-item-inner {
    padding: 40px 30px 40px 30px;
}

.elementor-3747 .elementor-element.elementor-element-f4f5be6 .service-item {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-3747 .elementor-element.elementor-element-f4f5be6 .dsn-service .dsn-icon:not(.dsn-bg-before):not(.dsn-bg-before) {
    --dsn-icon-size: 80px;
}

.elementor-3747 .elementor-element.elementor-element-a9c4df9 .section-title {
    justify-content: center;
}

.elementor-3747 .elementor-element.elementor-element-08aa651 .dsn-grid-layout {
    --dsn-width-item: 3;
    --dsn-col-item: 30px;
    --dsn-row-item: 30px;
}

.elementor-3747 .elementor-element.elementor-element-08aa651 .team-item-inner .box-img {
    height: 450px;
    max-height: 450px;
}

.elementor-3747 .elementor-element.elementor-element-08aa651 .text-name {
    text-transform: uppercase;
}

.elementor-3747 .elementor-element.elementor-element-08aa651 .text-position {
    text-transform: uppercase;
}

.elementor-3747 .elementor-element.elementor-element-def808b>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3747 .elementor-element.elementor-element-006b1ba .section-title {
    justify-content: flex-start;
}

.elementor-3747 .elementor-element.elementor-element-9530952 .dsn-heading-title {
    max-width: 350px;
}

.elementor-3747 .elementor-element.elementor-element-00f20d3>.elementor-element-populated {
    margin: 0px 0px 0px 60px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 60px;
}

.elementor-3747 .elementor-element.elementor-element-2b68d7c .dsn-grid-layout {
    --dsn-width-item: 3;
    --dsn-col-item: 0px;
    --dsn-row-item: 0px;
}

#dsn_header #hero_image .transform-3d {
    object-position: 50% 50%;
}

#hero_title .title {
    font-size: 48px;
    text-transform: uppercase;
    line-height: 70px;
}

#dsn_header #hero_content {
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

@media(max-width:1024px) {
    .elementor-3747 .elementor-element.elementor-element-2c77cfc>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-3747 .elementor-element.elementor-element-25177cf>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-3747 .elementor-element.elementor-element-08aa651 .dsn-grid-layout {
        --dsn-width-item: 2;
    }

    .elementor-3747 .elementor-element.elementor-element-006b1ba .section-title {
        justify-content: center;
    }

    .elementor-3747 .elementor-element.elementor-element-00f20d3>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width:767px) {
    .elementor-3747 .elementor-element.elementor-element-1793fb71>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-3747 .elementor-element.elementor-element-4896a066 {
        position: relative;
    }

    .elementor-3747 .elementor-element.elementor-element-4896a066 .img-box-parallax {
        height: 80vh;
    }

    .elementor-3747 .elementor-element.elementor-element-5cc7622d>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-3747 .elementor-element.elementor-element-2b68d7c .dsn-grid-layout {
        --dsn-width-item: 2;
        --dsn-col-item: 30px;
        --dsn-row-item: 30px;
    }

    #hero_title .title {
        font-size: 45px;
        line-height: 55px;
    }
}

@media(min-width:768px) {
    .elementor-3747 .elementor-element.elementor-element-1793fb71 {
        width: 50%;
    }

    .elementor-3747 .elementor-element.elementor-element-5cc7622d {
        width: 50%;
    }

    .elementor-3747 .elementor-element.elementor-element-5542596 {
        width: 33%;
    }

    .elementor-3747 .elementor-element.elementor-element-00f20d3 {
        width: 67%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-3747 .elementor-element.elementor-element-2c77cfc {
        width: 100%;
    }

    .elementor-3747 .elementor-element.elementor-element-25177cf {
        width: 100%;
    }

    .elementor-3747 .elementor-element.elementor-element-5542596 {
        width: 100%;
    }

    .elementor-3747 .elementor-element.elementor-element-00f20d3 {
        width: 100%;
    }
}


ul.about li a{
    margin-right: 10px;
}

ul.about{
    margin-top: 25px;
}

/* Application */

.elementor-5404 .elementor-element.elementor-element-5a91146>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-5404 .elementor-element.elementor-element-f87eb2e>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-5404 .elementor-element.elementor-element-2b6faeb {
    justify-content: center;
    display: flex;
}

.elementor-5404 .elementor-element.elementor-element-29eabb7 {
    padding: 60px 0px 30px 0px;
}

.elementor-5404 .elementor-element.elementor-element-0870b41>.elementor-element-populated {
    margin: 0px 30px 0px 0px;
    --e-column-margin-right: 30px;
    --e-column-margin-left: 0px;
}

.elementor-5404 .elementor-element.elementor-element-32f9045 img {
    width: 90px;
    max-width: 90px;
}

.elementor-5404 .elementor-element.elementor-element-6dd3297 .dsn-socials .dsn-icon {
    --dsn-icon-size: 14px;
}

.elementor-4355 .elementor-element.elementor-element-cb8f56e>.elementor-background-overlay {
    background-image: url("https://dsngrid.com/blackdsn/wp-content/uploads/sites/11/2022/08/rm309-adj-05.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.35;
}

.elementor-4355 .elementor-element.elementor-element-cb8f56e {
    padding: 160px 0px 120px 0px;
}

.elementor-4355 .elementor-element.elementor-element-595368c .dsn-heading-title {
    font-size: 60px;
    text-transform: uppercase;
    line-height: 70px;
}

.elementor-4355 .elementor-element.elementor-element-44d49c8 .dsn-heading-title {
    max-width: 570px;
}

.elementor-4355 .elementor-element.elementor-element-0bca6ca {
    justify-content: center;
    display: flex;
}

.elementor-4355 .elementor-element.elementor-element-e934f72 .dsn-grid-layout {
    --dsn-width-item: 1.5;
    --dsn-col-item: 50px;
    --dsn-row-item: 0px;
}

.elementor-4355 .elementor-element.elementor-element-e934f72 .start-section {
    max-width: calc(70% - var(--dsn-col-item));
    flex: 0 0 calc(70% - var(--dsn-col-item));
}

.elementor-4355 .elementor-element.elementor-element-e934f72 .end-section {
    max-width: calc(80% - var(--dsn-col-item));
    flex: 0 0 calc(80% - var(--dsn-col-item));
}

.elementor-4355 .elementor-element.elementor-element-e934f72 .box-image-link .box-image-bg {
    height: 100vh;
    max-height: 100vh;
}

.elementor-4355 .elementor-element.elementor-element-e934f72 .dsn-posts:not(.box-image-blackdsn) .post-content {
    justify-content: center;
}

.elementor-4355 .elementor-element.elementor-element-e934f72 .entry-meta a {
    text-transform: uppercase;
}

@media(max-width:1024px) {
    .elementor-4355 .elementor-element.elementor-element-e934f72 .dsn-grid-layout {
        --dsn-width-item: 2;
        --dsn-col-item: 30px;
        --dsn-row-item: 50px;
    }

    .elementor-4355 .elementor-element.elementor-element-e934f72 .box-image-link .box-image-bg {
        height: 70vh;
        max-height: 70vh;
    }

    .elementor-4355 .elementor-element.elementor-element-e934f72 .post-title {
        font-size: 4.5vw;
    }
}

@media(max-width:767px) {
    .elementor-4355 .elementor-element.elementor-element-595368c .dsn-heading-title {
        font-size: 45px;
        line-height: 55px;
    }

    .elementor-4355 .elementor-element.elementor-element-e934f72 .dsn-grid-layout {
        --dsn-width-item: 1;
    }

    .elementor-4355 .elementor-element.elementor-element-e934f72 .post-title {
        font-size: 8vw;
    }
}

.elementor-5404 .elementor-element.elementor-element-38dc768>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-5404 .elementor-element.elementor-element-f96512b>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 30px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 30px 0px 30px 0px;
}

.elementor-5404 .elementor-element.elementor-element-f96512b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

@media(min-width:768px) {
    .elementor-5404 .elementor-element.elementor-element-0870b41 {
        width: 30%;
    }

    .elementor-5404 .elementor-element.elementor-element-38dc768 {
        width: 70%;
    }
}

@media(max-width:767px) {
    .elementor-5404 .elementor-element.elementor-element-2b6faeb {
        justify-content: flex-start;
        display: flex;
    }

    .elementor-5404 .elementor-element.elementor-element-0870b41 {
        width: 100%;
    }

    .elementor-5404 .elementor-element.elementor-element-0870b41>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-5404 .elementor-element.elementor-element-38dc768>div {
        grid-row-gap: 30px;
    }

    .elementor-5404 .elementor-element.elementor-element-38dc768 {
        width: 100%;
    }
}

/* Journey */

.elementor-9205 .elementor-element.elementor-element-f3ade92>.elementor-background-overlay {
    background-image: url("http://dsngrid.com/images/wp/blackdsn/pattern.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.elementor-9205 .elementor-element.elementor-element-48ada48>.elementor-element-populated {
    padding: 160px 0px 0px 0px;
}

.elementor-9205 .elementor-element.elementor-element-d5dd1f5>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-9205 .elementor-element.elementor-element-d5dd1f5 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 30px 0px;
}

.elementor-9205 .elementor-element.elementor-element-d5dd1f5>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9205 .elementor-element.elementor-element-3a3af17>div {
    grid-template-columns: repeat(2, 1fr);
}

.elementor-9205 .elementor-element.elementor-element-8c4b2ef .dsn-heading-title {
    max-width: 350px;
}

.elementor-9205 .elementor-element.elementor-element-8c4b2ef>.elementor-widget-container {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-9205 .elementor-element.elementor-element-dbbaaeb>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-9205 .elementor-element.elementor-element-dbbaaeb {
    padding: 30px 0px 0px 0px;
}

.elementor-9205 .elementor-element.elementor-element-4fadf4f>div {
    grid-template-columns: repeat(2, 1fr);
}

.elementor-9205 .elementor-element.elementor-element-c55fa40 .dsn-heading-title {
    max-width: 350px;
}

.elementor-9205 .elementor-element.elementor-element-c55fa40>.elementor-widget-container {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-9205 .elementor-element.elementor-element-0098e84 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 17px;
    --grid-column-gap: 25px;
    --grid-row-gap: 0px;
}

.elementor-9205 .elementor-element.elementor-element-0098e84 .elementor-widget-container {
    text-align: right;
}

.elementor-9205 .elementor-element.elementor-element-0098e84 .elementor-social-icon {
    background-color: #FFFFFF00;
    --icon-padding: 0em;
}

.elementor-9205 .elementor-element.elementor-element-8bb6c29 .dsn-grid-layout {
    --dsn-width-item: 2;
    --dsn-col-item: 30px;
    --dsn-row-item: 50px;
}

.elementor-9205 .elementor-element.elementor-element-8bb6c29 .post-title {
    font-size: 27px;
    font-weight: 600;
}

.elementor-9205 .elementor-element.elementor-element-8bb6c29 .entry-meta a {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media(max-width:767px) {
    .elementor-9205 .elementor-element.elementor-element-8bb6c29 .dsn-grid-layout {
        --dsn-width-item: 1;
    }
}

/* Contact */

.elementor-3857 .elementor-element.elementor-element-2eab388>.elementor-background-overlay {
    background-image: url("https://dsngrid.com/blackdsn/wp-content/uploads/sites/11/2022/08/rm309-adj-05.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.35;
}

.elementor-3857 .elementor-element.elementor-element-2eab388 {
    padding: 160px 0px 120px 0px;
}

.elementor-3857 .elementor-element.elementor-element-ad5d99b .dsn-heading-title {
    font-size: 60px;
    text-transform: uppercase;
    line-height: 70px;
}

.elementor-3857 .elementor-element.elementor-element-edfcf43 .dsn-heading-title {
    max-width: 570px;
}

.elementor-3857 .elementor-element.elementor-element-a4cf7a5 .dsn-bg-mask {
    --width-mask: 65%;
    --height-mask: 100%;
    --height-calc-mask: 240px;
    --top-mask: -120px;
}

body:not(.rtl) .elementor-3857 .elementor-element.elementor-element-a4cf7a5 {
    left: 0px;
}

body.rtl .elementor-3857 .elementor-element.elementor-element-a4cf7a5 {
    right: 0px;
}

.elementor-3857 .elementor-element.elementor-element-a4cf7a5 {
    top: 0px;
}

.elementor-3857 .elementor-element.elementor-element-8390eb4>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3857 .elementor-element.elementor-element-503d3e8>.elementor-element-populated {
    margin: 0px 60px 0px 0px;
    --e-column-margin-right: 60px;
    --e-column-margin-left: 0px;
}

.elementor-3857 .elementor-element.elementor-element-c5cf03f>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-3857 .elementor-element.elementor-element-6b69b4d>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 15px;
}

.elementor-3857 .elementor-element.elementor-element-6b69b4d>.elementor-element-populated,
.elementor-3857 .elementor-element.elementor-element-6b69b4d>.elementor-element-populated>.elementor-background-overlay,
.elementor-3857 .elementor-element.elementor-element-6b69b4d>.elementor-background-slideshow {
    border-radius: 7px 7px 7px 7px;
}

.elementor-3857 .elementor-element.elementor-element-6b69b4d>.elementor-element-populated {
    margin: 30px 30px 30px 30px;
    --e-column-margin-right: 30px;
    --e-column-margin-left: 30px;
}

.elementor-3857 .elementor-element.elementor-element-f10a8f8 .dsn-grid-layout {
    --dsn-width-item: 1;
    --dsn-col-item: 30px;
    --dsn-row-item: 30px;
}

.elementor-3857 .elementor-element.elementor-element-f10a8f8 .service-item .service-item-inner {
    align-items: start;
}

.elementor-3857 .elementor-element.elementor-element-f10a8f8 .service-item-inner {
    padding: 0px 0px 0px 0px;
}

.elementor-3857 .elementor-element.elementor-element-f10a8f8 .service-item {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-3857 .elementor-element.elementor-element-f10a8f8 .service_title {
    font-size: 17px;
    text-transform: uppercase;
}

.elementor-3857 .elementor-element.elementor-element-f10a8f8 .service_description {
    margin-top: 10px;
}

.elementor-3857 .elementor-element.elementor-element-f10a8f8 .dsn-service .dsn-icon:not(.dsn-bg-before):not(.dsn-bg-before) {
    --dsn-icon-size: 20px;
}

.elementor-3857 .elementor-element.elementor-element-db3c820 .map-custom {
    height: 80vh;
}

@media(max-width:1024px) {
    .elementor-3857 .elementor-element.elementor-element-503d3e8>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-3857 .elementor-element.elementor-element-f10a8f8 .dsn-grid-layout {
        --dsn-width-item: 3;
        --dsn-col-item: 30px;
    }
}

@media(min-width:768px) {
    .elementor-3857 .elementor-element.elementor-element-503d3e8 {
        width: 65%;
    }

    .elementor-3857 .elementor-element.elementor-element-6b69b4d {
        width: 35%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-3857 .elementor-element.elementor-element-503d3e8 {
        width: 100%;
    }

    .elementor-3857 .elementor-element.elementor-element-6b69b4d {
        width: 100%;
    }
}

@media(max-width:767px) {
    .elementor-3857 .elementor-element.elementor-element-ad5d99b .dsn-heading-title {
        font-size: 45px;
        line-height: 55px;
    }

    .elementor-3857 .elementor-element.elementor-element-f10a8f8 .dsn-grid-layout {
        --dsn-width-item: 1;
    }
}