.elementor-10485 .elementor-element.elementor-element-73b9a4f>.elementor-container {
    min-height: 100vh;
}

.elementor-10485 .elementor-element.elementor-element-73b9a4f {
    overflow: hidden;
}

.elementor-bc-flex-widget .elementor-10485 .elementor-element.elementor-element-5ff465f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-10485 .elementor-element.elementor-element-5ff465f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-10485 .elementor-element.elementor-element-5ff465f>.elementor-element-populated {
    margin: 80px 0px 80px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}


body:not(.rtl) .elementor-10485 .elementor-element.elementor-element-c5ffc61 {
    left: 0px;
}

body.rtl .elementor-10485 .elementor-element.elementor-element-c5ffc61 {
    right: 0px;
}

.elementor-10485 .elementor-element.elementor-element-c5ffc61 {
    top: 0px;
    z-index: 0;
}

.elementor-10485 .elementor-element.elementor-element-1f6152c img {
    object-position: 50% 50%;
}

.elementor-10485 .elementor-element.elementor-element-1f6152c {
    position: absolute;
}

.elementor-10485 .elementor-element.elementor-element-1f6152c .img-box-parallax {
    height: 100%;
}

body:not(.rtl) .elementor-10485 .elementor-element.elementor-element-1f6152c {
    left: 0px;
}

body.rtl .elementor-10485 .elementor-element.elementor-element-1f6152c {
    right: 0px;
}

.elementor-10485 .elementor-element.elementor-element-1f6152c {
    top: 0px;
    z-index: 0;
}

.elementor-10485 .elementor-element.elementor-element-ea36c75>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 30px;
}

.elementor-10485 .elementor-element.elementor-element-aec7d26 .dsn-heading-title {
    font-size: 10vw;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.elementor-10485 .elementor-element.elementor-element-39163ef .dsn-heading-title {
    max-width: 470px;
}

.elementor-10485 .elementor-element.elementor-element-73efee9 {
    overflow: hidden;
}

.elementor-10485 .elementor-element.elementor-element-482de9f>.elementor-element-populated {
    margin: 60px 60px 60px 0px;
    --e-column-margin-right: 60px;
    --e-column-margin-left: 0px;
}

.elementor-10485 .elementor-element.elementor-element-5be68d8 .dsn-heading-title {
    text-transform: uppercase;
}

.elementor-10485 .elementor-element.elementor-element-1023db5 .dsn-heading-title {
    text-transform: uppercase;
}

.elementor-10485 .elementor-element.elementor-element-f330016 .dsn-heading-title {
    max-width: 570px;
}

.elementor-10485 .elementor-element.elementor-element-17955a7>.elementor-widget-container {
    margin: 0px 0px -15px 0px;
}

.elementor-10485 .elementor-element.elementor-element-ea928c5>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-10485 .elementor-element.elementor-element-56ebdcb img {
    object-position: 50% 50%;
}

.elementor-10485 .elementor-element.elementor-element-56ebdcb {
    position: absolute;
}

.elementor-10485 .elementor-element.elementor-element-56ebdcb .img-box-parallax {
    width: 100%;
    height: 100%;
}

.elementor-10485 .elementor-element.elementor-element-56ebdcb .img-box-parallax {
    border-radius: 7px 0px 0px 7px;
}

.elementor-10485 .elementor-element.elementor-element-56ebdcb>.elementor-widget-container {
    padding: 0px 0px 30px 60px;
}

.elementor-10485 .elementor-element.elementor-element-bd1b48e {
    text-align: left;
    top: 30px;
}

.elementor-10485 .elementor-element.elementor-element-bd1b48e img {
    width: 190px;
    height: 120px;
    object-fit: cover;
    border-radius: 7px 7px 7px 7px;
}

body:not(.rtl) .elementor-10485 .elementor-element.elementor-element-bd1b48e {
    left: 2px;
}

body.rtl .elementor-10485 .elementor-element.elementor-element-bd1b48e {
    right: 2px;
}

.elementor-10485 .elementor-element.elementor-element-0564e99 {
    text-align: left;
    bottom: 0px;
}

.elementor-10485 .elementor-element.elementor-element-0564e99 img {
    width: 49%;
    height: 190px;
    object-fit: cover;
    border-radius: 7px 7px 7px 7px;
}

body:not(.rtl) .elementor-10485 .elementor-element.elementor-element-0564e99 {
    left: 20px;
}

body.rtl .elementor-10485 .elementor-element.elementor-element-0564e99 {
    right: 20px;
}

.elementor-10485 .elementor-element.elementor-element-9c3f1da .dsn-heading-title {
    text-transform: uppercase;
}

body:not(.rtl) .elementor-10485 .elementor-element.elementor-element-9c3f1da {
    left: 0px;
}

body.rtl .elementor-10485 .elementor-element.elementor-element-9c3f1da {
    right: 0px;
}

.elementor-10485 .elementor-element.elementor-element-9c3f1da {
    top: 0px;
    z-index: 0;
}

.elementor-10485 .elementor-element.elementor-element-5744668 .section-title {
    justify-content: center;
}

.elementor-10485 .elementor-element.elementor-element-c8263f7 .dsn-grid-layout {
    --dsn-width-item: 3;
    --dsn-col-item: 30px;
    --dsn-row-item: 50px;
}

.elementor-10485 .elementor-element.elementor-element-c8263f7 .service-item {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-10485 .elementor-element.elementor-element-c8263f7 .dsn-service .dsn-icon:not(.dsn-bg-before):not(.dsn-bg-before) {
    --dsn-icon-size: 80px;
}

.elementor-10485 .elementor-element.elementor-element-810e54d img {
    object-position: 50% 0%;
}

.elementor-10485 .elementor-element.elementor-element-810e54d {
    position: absolute;
}

.elementor-10485 .elementor-element.elementor-element-810e54d .img-box-parallax {
    height: 100%;
}

.elementor-10485 .elementor-element.elementor-element-910e525>.elementor-element-populated {
    margin: 0px 0px 0px -164px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: -164px;
    padding: 80px 0px 80px 0px;
}

.elementor-10485 .elementor-element.elementor-element-a847b21 .dsn-bg-mask {
    --width-mask: 100%;
    --width-calc-mask: 50px;
    --height-mask: 100%;
    --left-mask: -100px;
}

body:not(.rtl) .elementor-10485 .elementor-element.elementor-element-a847b21 {
    left: 0px;
}

body.rtl .elementor-10485 .elementor-element.elementor-element-a847b21 {
    right: 0px;
}

.elementor-10485 .elementor-element.elementor-element-a847b21 {
    top: 0px;
}

.elementor-10485 .elementor-element.elementor-element-bedeb93 .dsn-heading-title {
    text-transform: uppercase;
}

.elementor-10485 .elementor-element.elementor-element-bedeb93>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.elementor-10485 .elementor-element.elementor-element-0c4f11f .dsn-heading-title {
    max-width: 570px;
}

.elementor-10485 .elementor-element.elementor-element-eca231d .dsn-grid-layout {
    --dsn-width-item: 1;
    --dsn-col-item: 15px;
    --dsn-row-item: 10px;
}

.elementor-10485 .elementor-element.elementor-element-eca231d .list-item {
    padding: 8px 20px 8px 20px;
    border-radius: 7px 7px 7px 7px;
}

.elementor-10485 .elementor-element.elementor-element-eca231d .dsn-list .dsn-icon:not(.icon-link) {
    --dsn-icon-size: 13px;
}

.elementor-10485 .elementor-element.elementor-element-e691031>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-10485 .elementor-element.elementor-element-8286423 {
    overflow: hidden;
}

.elementor-10485 .elementor-element.elementor-element-ea3ceef .dsn-heading-title {
    text-transform: uppercase;
}

body:not(.rtl) .elementor-10485 .elementor-element.elementor-element-ea3ceef {
    left: 0px;
}

body.rtl .elementor-10485 .elementor-element.elementor-element-ea3ceef {
    right: 0px;
}

.elementor-10485 .elementor-element.elementor-element-ea3ceef {
    top: 0px;
    z-index: 0;
}

.elementor-10485 .elementor-element.elementor-element-b54867c .section-title {
    justify-content: center;
}

.elementor-10485 .elementor-element.elementor-element-61a1e83 .dsn-grid-layout {
    --dsn-width-item: 2.5;
    --dsn-col-item: 50px;
    --dsn-row-item: 0px;
}

.elementor-10485 .elementor-element.elementor-element-61a1e83 .start-section {
    max-width: calc(70% - var(--dsn-col-item));
    flex: 0 0 calc(70% - var(--dsn-col-item));
}

.elementor-10485 .elementor-element.elementor-element-61a1e83 .end-section {
    max-width: calc(80% - var(--dsn-col-item));
    flex: 0 0 calc(80% - var(--dsn-col-item));
}

.elementor-10485 .elementor-element.elementor-element-61a1e83 .box-image-link .box-image-bg {
    height: 100vh;
    max-height: 100vh;
}

.elementor-10485 .elementor-element.elementor-element-61a1e83 .entry-meta a {
    text-transform: uppercase;
}

.elementor-10485 .elementor-element.elementor-element-e55b3d4>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

body:not(.rtl) .elementor-10485 .elementor-element.elementor-element-63dd085 {
    left: 0px;
}

body.rtl .elementor-10485 .elementor-element.elementor-element-63dd085 {
    right: 0px;
}

.elementor-10485 .elementor-element.elementor-element-63dd085 {
    top: 0px;
}

.elementor-10485 .elementor-element.elementor-element-a43711e>.elementor-container {
    min-height: 80vh;
}

.elementor-10485 .elementor-element.elementor-element-a43711e>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-10485 .elementor-element.elementor-element-6cdaec4>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-10485 .elementor-element.elementor-element-b38fe5c img {
    object-position: 50% 50%;
}

.elementor-10485 .elementor-element.elementor-element-b38fe5c {
    position: absolute;
}

.elementor-10485 .elementor-element.elementor-element-b38fe5c .img-box-parallax {
    height: 100%;
}

.elementor-10485 .elementor-element.elementor-element-6076387 {
    display: flex;
    padding-right: 100px;
    justify-content: flex-end;
}

.elementor-10485 .elementor-element.elementor-element-6076387 .dsn-btn {
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50% 50% 50% 50%;
}

.elementor-10485 .elementor-element.elementor-element-debd11e {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-10485 .elementor-element.elementor-element-debd11e:not(.elementor-motion-effects-element-type-background),
.elementor-10485 .elementor-element.elementor-element-debd11e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://dsngrid.com/blackdsn/wp-content/uploads/sites/11/2022/09/62a1f09ec862ce8047dd9ca4_Hero-Bg.png");
}

.elementor-10485 .elementor-element.elementor-element-debd11e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10485 .elementor-element.elementor-element-0a2f8b5>.elementor-element-populated {
    padding: 0px 120px 0px 0px;
}

.elementor-10485 .elementor-element.elementor-element-14f4658>.elementor-element-populated {
    padding: 0px 120px 0px 0px;
}

.elementor-10485 .elementor-element.elementor-element-63a715a .dsn-swiper-paginate {
    justify-content: space-between;
}

.elementor-10485 .elementor-element.elementor-element-63a715a .swiper-slide {
    padding: 50px 30px 50px 30px;
}

.elementor-10485 .elementor-element.elementor-element-d2602fc .dsn-heading-title {
    text-transform: uppercase;
}

body:not(.rtl) .elementor-10485 .elementor-element.elementor-element-d2602fc {
    left: 0px;
}

body.rtl .elementor-10485 .elementor-element.elementor-element-d2602fc {
    right: 0px;
}

.elementor-10485 .elementor-element.elementor-element-d2602fc {
    top: 0px;
    z-index: 0;
}

.elementor-10485 .elementor-element.elementor-element-8f77232 .section-title {
    justify-content: center;
}

.elementor-10485 .elementor-element.elementor-element-c746c24 .box-image-link .box-image-bg {
    height: 400px;
    max-height: 400px;
}

.elementor-10485 .elementor-element.elementor-element-c746c24 .dsn-swiper-paginate {
    justify-content: space-between;
}

.elementor-10485 .elementor-element.elementor-element-6f0ebd4:not(.elementor-motion-effects-element-type-background),
.elementor-10485 .elementor-element.elementor-element-6f0ebd4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://dsngrid.com/blackdsn/wp-content/uploads/sites/11/2022/09/62a1f09ec862ce8047dd9ca4_Hero-Bg.png");
}

.elementor-10485 .elementor-element.elementor-element-6f0ebd4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-10485 .elementor-element.elementor-element-6f0ebd4>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10485 .elementor-element.elementor-element-f6b1497 .dsn-heading-title {
    text-transform: uppercase;
}

body:not(.rtl) .elementor-10485 .elementor-element.elementor-element-f6b1497 {
    left: 0px;
}

body.rtl .elementor-10485 .elementor-element.elementor-element-f6b1497 {
    right: 0px;
}

.elementor-10485 .elementor-element.elementor-element-f6b1497 {
    top: 0px;
    z-index: 0;
}

.elementor-10485 .elementor-element.elementor-element-d351488 .section-title {
    justify-content: center;
}

.elementor-10485 .elementor-element.elementor-element-a4e6e3a .dsn-grid-layout {
    --dsn-width-item: 3;
    --dsn-col-item: 30px;
    --dsn-row-item: 30px;
}

.elementor-10485 .elementor-element.elementor-element-a4e6e3a .brand-item {
    border-radius: 7px 7px 7px 7px;
    border-style: solid;
    background-color: var(--theme-color);
    border-width: 1px 1px 1px 1px;
}

body.elementor-page-10485:not(.elementor-motion-effects-element-type-background),
body.elementor-page-10485>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://dsngrid.com/blackdsn/wp-content/uploads/sites/11/2022/09/62a1f09ec862ce8047dd9ca4_Hero-Bg.png");
}

@media(max-width:1024px) {
    .elementor-10485 .elementor-element.elementor-element-482de9f>.elementor-element-populated {
        margin: 0px 30px 0px 0px;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0px;
    }

    .elementor-10485 .elementor-element.elementor-element-ea928c5>.elementor-element-populated {
        margin: 0px 0px 0px 30px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 30px;
    }

    .elementor-10485 .elementor-element.elementor-element-56ebdcb .img-box-parallax {
        border-radius: 7px 7px 7px 7px;
    }

    .elementor-10485 .elementor-element.elementor-element-ee4887a {
        margin-top: 0px;
        margin-bottom: -80px;
    }

    .elementor-10485 .elementor-element.elementor-element-bd387a6>.elementor-element-populated {
        margin: 0px 0px -80px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10485 .elementor-element.elementor-element-810e54d {
        position: relative;
    }

    .elementor-10485 .elementor-element.elementor-element-810e54d .img-box-parallax {
        height: 70vh;
    }

    .elementor-10485 .elementor-element.elementor-element-910e525>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 50px 30px 50px 30px;
    }

    .elementor-10485 .elementor-element.elementor-element-61a1e83 .dsn-grid-layout {
        --dsn-width-item: 2;
        --dsn-col-item: 30px;
        --dsn-row-item: 30px;
    }

    .elementor-10485 .elementor-element.elementor-element-61a1e83 .box-image-link .box-image-bg {
        height: 70vh;
        max-height: 70vh;
    }

    .elementor-10485 .elementor-element.elementor-element-a43711e>.elementor-container {
        min-height: 70vh;
    }

    .elementor-10485 .elementor-element.elementor-element-0a2f8b5>.elementor-element-populated {
        padding: 0px 0px 30px 0px;
    }

    .elementor-10485 .elementor-element.elementor-element-14f4658>.elementor-element-populated {
        padding: 0px 0px 30px 0px;
    }

    .elementor-10485 .elementor-element.elementor-element-a4e6e3a .dsn-grid-layout {
        --dsn-width-item: 2;
    }
}

@media(max-width:767px) {
    .elementor-10485 .elementor-element.elementor-element-482de9f>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10485 .elementor-element.elementor-element-f330016 .dsn-heading-title {
        max-width: 100%;
    }

    .elementor-10485 .elementor-element.elementor-element-ea928c5>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10485 .elementor-element.elementor-element-56ebdcb {
        position: relative;
    }

    .elementor-10485 .elementor-element.elementor-element-56ebdcb .img-box-parallax {
        height: 50vh;
    }

    .elementor-10485 .elementor-element.elementor-element-56ebdcb>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-10485 .elementor-element.elementor-element-c8263f7 .dsn-grid-layout {
        --dsn-width-item: 2;
        --dsn-row-item: 30px;
    }

    .elementor-10485 .elementor-element.elementor-element-61a1e83 .box-image-link .box-image-bg {
        height: 50vh;
        max-height: 50vh;
    }

    .elementor-10485 .elementor-element.elementor-element-a43711e>.elementor-container {
        min-height: 50vh;
    }
}

@media(min-width:768px) {
    .elementor-10485 .elementor-element.elementor-element-482de9f {
        width: 40%;
    }

    .elementor-10485 .elementor-element.elementor-element-ea928c5 {
        width: 60%;
    }

    .elementor-10485 .elementor-element.elementor-element-bd387a6 {
        width: 70%;
    }

    .elementor-10485 .elementor-element.elementor-element-910e525 {
        width: 30%;
    }

    .elementor-10485 .elementor-element.elementor-element-14f4658 {
        width: 40%;
    }

    .elementor-10485 .elementor-element.elementor-element-850d87c {
        width: 60%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-10485 .elementor-element.elementor-element-482de9f {
        width: 50%;
    }

    .elementor-10485 .elementor-element.elementor-element-ea928c5 {
        width: 50%;
    }

    .elementor-10485 .elementor-element.elementor-element-bd387a6 {
        width: 100%;
    }

    .elementor-10485 .elementor-element.elementor-element-910e525 {
        width: 100%;
    }

    .elementor-10485 .elementor-element.elementor-element-0a2f8b5 {
        width: 100%;
    }

    .elementor-10485 .elementor-element.elementor-element-14f4658 {
        width: 100%;
    }

    .elementor-10485 .elementor-element.elementor-element-850d87c {
        width: 100%;
    }
}

@media(min-width:1025px) {

    body.elementor-page-10485:not(.elementor-motion-effects-element-type-background),
    body.elementor-page-10485>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}